.heroBottom{
    align-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    height: 78%;
    justify-content: space-between;
    padding: 0px;
    position: relative;
    width: 100%;

}
