.navContainer{
    display: flex;
    flex-direction: row;
    height: 112px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    padding: 56px 64px;
    box-sizing: border-box;
    color: rgb(8, 8, 8);
    z-index: 500;

}
.navLeft{
    font-size: 25px;
    cursor: pointer;

    text-align: start;
    font-weight: 390;

}
.navRight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.navRight > div {
    cursor: pointer;
    display: block;
    font-size: 18.5px;

    text-align: start;
    box-sizing: border-box;
}
